.unit__block {
    display: flex;
    width: 25%;
    height: 150px;
    margin: 15px;
    border: 1px solid black;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: rgb(161, 161, 243);
    cursor: pointer;
};

.unit__info {
    display: flex;
    width: 100%;
    height: 50%;
}

.unit__logo {
    display: flex;
    width: 1000%;
    height: 100%;
    justify-content: center;
    align-items: center;
    & img {
        width: 40%;
        height: 80%;
    }
}

.unit__type {
    width: 100%;
    display: flex;
    justify-content: center;
    & h4 {
        margin: 0;
    }
}

.unit__hp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & h4 {
        margin: 0
    }
}